# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

#====================================================
#              Environment Variables
#====================================================
.env
.env.*
**/.env
**/.env.*

#====================================================
#               Build/Test Outputs
#====================================================
dist
tmp
out-tsc
**/.coverage
**/coverage.xml
**/dist
*.hex
**/bin
**/.swc
**/target
**/.next
**/.react-router
**/out
**/build
**/generated
**/playwright-report
**/test-results
**/.nyc_output
**/coverage
**/storybook-static
**/coverage
**/*.tsbuildinfo
**/next-env.d.ts
**/*.tar.gz
**/.vercel
**/.netlify
**/.drizzle
web/result/
/libdeps/

#====================================================
#                 Caches & Logs
#====================================================
.open-webui
.webui_secret_key
.pre-commit-config.yaml
.github/instructions/nx.instructions.md
devenv.local.nix
devenv.local.yaml
.direnv
**/.direnv/
**.qcow2
**/postgresql.log
logs
*.log
config/serial.log
pnpm-debug.log*
**/.temp
**/.tmp
**/temp
**/tmp
vite.config.*.timestamp*
vitest.config.*.timestamp*

#====================================================
#                  Dependencies
#====================================================
node_modules
**/node_modules
/.pnp
.devenv*
.pnp.js
.pio
**/*.pio

#====================================================
#                  Miscellaneous
#====================================================
.DS_Store
Thumbs.db
*.pem
*tmp*
.idea/
.project
.classpath
.c9
*.launch

.vscode/*
.settings
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings-example.json
!apps/rust/src/bin
config/services/supabase/.branches
config/env_spec.sh
.shellspec

/typings
/libpeerconnection.log

.ccls

.pre-commit-config.yaml
# .settings
DEBUG
# .mxproject

**/.osx.project
